.App {
  text-align: center;
}

.increment {
  margin-block: 100px;
  border: 1px solid grey;
  width: 30%;
  margin-inline: auto;
  padding-block: 50px;
}
.result {
  padding-bottom: 15px;
}
input {
  width: 50px;
  text-align: center;
  margin-top: 10px;
}
